*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	width:100%;
	background-color:#f0b995;
}

.slideshow-container{
    margin-left: 20%;
    margin-right:20%;
	border:2px;
}
.menu-bar
{
	color:#7364ef;
	padding-left: 50px;
	background-color:#af750a;
	padding-top: 5px;
	
}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #fff;
	

}
.button{
	width: 160px;
	margin: 10px;
	padding: 10px;
    border-radius: 20px;
	border: 1px solid #020d11;
	text-align:center;
   
}

.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
	
}
#tb{
	margin:20px 20px 20px 20px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: larger;
}
p{
	line-height: 40px;
	font-size: 20px;
    padding:20px;
}

.image
{
    width:80%;
    border:4px solid #758f04;
    margin-top:50px;
	margin-left:10%;
	margin-left:10%;
    height:600px;
    padding-left: 80px;
    padding-right: 10px;
    align-items: center;
    background-color:honeydew;
}
.mypic
{
    height:200px;
    width: 200px;
    margin:40px;
    border-width: 4px;
    border-radius: 20px 20px;
    border-color:#1beca6
}
.mypic:hover{
    height:210px;
    width:220px;
    transition: 2s;
    box-shadow:10px 10px 10px #5fc005;
}
.com h1
{
	margin-left:5%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}
.com p
{
	margin-left:10%;
	margin-right:5%;
	
}

.center1
{
    background-color: rgb(131, 136, 62);
    position:relative;
    width:33%;
    bottom: 40px;
    padding: 20px;
    left:35%;
   top: 20px;
   margin-bottom:40px;
   border-radius: 10px,10px;

}
.center1 a .button
{
	margin-left:30%;
	color:rgb(202, 118, 87);
	font-size:medium;
	background-color: rgb(112, 8, 40);
}
.center1 p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 40px;
}
.image h3{
	margin-left:35%;
	font-size:large;
	color:crimson;
	padding:1%;
}
